<nav class="navbar shadow-sm navbar-light bg-light fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/increff.png"
        alt="MyStore Logo"
        class="d-inline-block align-text-top brand-image"
      />
    </a>

    <ul class="navbar-nav align-items-center d-flex flex-row">
      <!-- CSV Upload Icon -->
      <li class="nav-item mx-3">
        <a
          class="nav-link"
          routerLink="/csv-upload"
          ngbTooltip="Upload CSV"
          placement="bottom"
        >
          <i class="bi bi-upload fs-5"></i>
        </a>
      </li>
      <!-- Cart Icon -->
      <li class="nav-item mx-2">
        <a
          class="nav-link position-relative"
          routerLink="/cart"
          ngbTooltip="View Cart"
          placement="bottom"
        >
          <i class="fs-5 bi bi-handbag-fill"></i>
          <!-- Cart Item Count Badge -->
          <div
            *ngIf="cartItemCount > 0"
            class="position-absolute cart-badge top-10 start-100 translate-middle badge rounded-circle"
          >
            {{ cartItemCount <= 99 ? cartItemCount : "99+" }}
          </div>
        </a>
      </li>

      <!-- Login/Logout links -->
      <li class="nav-item mx-3">
        <a
          class="nav-link"
          *ngIf="!isLoggedIn"
          ngbTooltip="Login"
          routerLink="/login"
          >Login</a
        >

        <a
          class="user-name nav-link"
          *ngIf="isLoggedIn"
          ngbTooltip="Logout"
          (click)="logout()"
          >{{ currentUser?.username?.charAt(0)?.toUpperCase() }}</a
        >
      </li>
    </ul>
  </div>
</nav>
