.badge {
  background-color: #f16565 !important;
}

.brand-image {
  height: 30px;
}

.user-name {
  border: 1px solid #f16565;
  border-radius: 100%;
  padding: 4px 11px;

  &:hover {
    cursor: pointer;
  }
}
