<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Brand Logo (Image instead of Text) -->
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/increff.png"
        alt="MyStore Logo"
        style="height: 30px"
        class="d-inline-block align-text-top"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Other navigation links can go here -->
      </ul>
    </div>

    <ul class="navbar-nav mb-2 mb-lg-0 align-items-center d-flex flex-row">
      <!-- CSV Upload Icon -->
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/csv-upload" title="Upload CSV">
          <i class="fas fa-file-csv"></i>
        </a>
      </li>
      <!-- Cart Icon -->
      <li class="nav-item me-3">
        <a class="nav-link position-relative" routerLink="/cart">
          <i class="fas fa-shopping-bag"></i>
          <!-- Cart Item Count Badge -->
          <span
            *ngIf="cartItemCount > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ cartItemCount <= 10 ? cartItemCount : "10+" }}
          </span>
        </a>
      </li>

      <!-- Login/Logout links -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
        <a class="nav-link" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
