<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyStore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <!-- Add navigation links here -->
      </ul>

      <!-- <form class="d-flex mb-2 mb-lg-0">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search for products"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- Cart Icon -->
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart">
            <i class="bi bi-bag"></i>
            <!-- Cart Item Count Badge -->
            <span
              *ngIf="cartItemCount > 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ cartItemCount <= 10 ? cartItemCount : "10+" }}
            </span>
          </a>
        </li>
        <!-- Login/Logout -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
