.container {
  max-width: 1300px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.rating {
  display: inline-block;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.separator {
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .product-details {
    margin-top: 2rem;
  }
}

.add-to-cart,
.view-cart {
  background-color: #28a745;
  color: white;
}

.remove-item {
  border-color: red;
  color: red;
}

.quantity-button {
  border-color: #28a745;
  width: 40px;
}

.quantity-text {
  font-size: 1.2rem;
  color: black;
  flex: 1;
  width: 30px;
  text-align: center;
}
