<div class="container mt-5 pt-3" *ngIf="product">
  <div class="row justify-content-center pt-3 px-5" style="min-height: 80vh">
    <!-- Product Image Section -->
    <div class="col-12 col-lg-5 d-flex justify-content-center">
      <!-- NG Bootstrap Carousel -->
      <ngb-carousel
        *ngIf="product.images && product.images.length"
        [interval]="2000"
        [pauseOnHover]="false"
        [wrap]="true"
      >
        <ng-template ngbSlide *ngFor="let img of product.images">
          <img
            [src]="img.src"
            class="img-fluid rounded"
            [alt]="img.view"
            style="max-height: auto"
          />
        </ng-template>
      </ngb-carousel>
    </div>

    <!-- Product Details Section -->
    <div class="col-12 col-lg-7 product-details">
      <h1 class="fs-3">{{ product.name }}</h1>
      <p class="text-muted fs-5">{{ product.additionalInfo }}</p>

      <!-- Rating and Reviews Overlay -->
      <div
        class="rating border px-2 justify-content-center align-items-center mb-2"
      >
        <span class="rating fw-bold">
          {{ product.rating | number : "1.1-1" }}
          <i class="bi bi-star-fill text-success mx-1"></i>
        </span>
        <span class="separator text-muted mx-2">|</span>
        <span class="reviews text-muted">{{ product.reviews }}</span>
        <span class="text-muted ms-2">Ratings</span>
      </div>

      <hr class="my-3 border-primary" />

      <p><strong>Brand:</strong> {{ product.brand }}</p>

      <!-- Price Section -->
      <p class="d-flex align-items-baseline mb-3">
        <span class="fw-semibold fs-3">
          {{ product.price | currency : "INR" : "symbol" : "1.0-0" }}
        </span>
        <span class="text-muted ms-2">MRP</span>
        <span class="text-decoration-line-through text-muted small ms-1">
          {{ product.mrp | currency : "INR" : "symbol" : "1.0-0" }}
        </span>
        <span class="text-success ms-2">
          {{ product.discountDisplayLabel }}
        </span>
      </p>

      <!-- Color Section -->
      <div class="mb-3">
        <p><strong>Color:</strong> {{ product.color }}</p>
      </div>

      <!-- Quantity Controls and Add/View Cart Buttons -->
      <div class="mt-4">
        <!-- When quantity > 0, show quantity controls and View Cart button -->
        <div
          *ngIf="quantity > 0; else addToCartButton"
          class="d-flex align-items-center"
        >
          <!-- Quantity Controls -->
          <div class="d-flex align-items-center me-3">
            <button
              class="btn quantity-button btn-md"
              (click)="decreaseQuantity()"
              aria-label="Decrease quantity"
            >
              -
            </button>
            <span class="mx-3 quantity-text">{{ quantity }}</span>
            <button
              class="btn quantity-button btn-md"
              (click)="increaseQuantity()"
              aria-label="Increase quantity"
            >
              +
            </button>
          </div>
          <!-- View Cart Button -->
          <button class="btn view-cart btn-md" (click)="viewCart()">
            Go to cart <i class="bi bi-arrow-right"></i>
          </button>

          <!-- Remove item button-->
          <button class="btn remove-item btn md ms-3" (click)="removeItem()">
            <i class="bi bi-trash me-2"></i>Remove
          </button>
        </div>

        <!-- Add to Cart Button -->
        <ng-template #addToCartButton>
          <button class="btn add-to-cart btn-md" (click)="addToCart()">
            Add to Cart
          </button>
        </ng-template>

        <hr class="my-3 border-primary" />

        <!-- Assurance Points -->
        <div class="mt-3">
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-2">
              <i class="bi bi-check2-circle text-primary me-2"></i>
              <span class="small">100% Original Products</span>
            </li>
            <li class="d-flex align-items-center mb-2">
              <i class="bi bi-truck text-primary me-2"></i>
              <span class="small">Pay on delivery might be available</span>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-arrow-repeat text-primary me-2"></i>
              <span class="small">Easy 14 days returns and exchanges</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [title]="'Remove Item'"
    [message]="'Are you sure you want to remove this item from the cart?'"
    (confirm)="onConfirmRemove()"
    (cancel)="onCancelRemove()"
    [itemName]="product.name"
  ></app-confirm-modal>
</div>
