.container {
  max-width: 1300px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.rating {
  display: inline-block;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.separator {
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .product-details {
    margin-top: 2rem;
  }
}

.add-to-cart {
  background-color: #ff3e6c;
  color: white;
  padding: 15px 40px;
  font-weight: 600;
}

.add-to-cart:active {
  background-color: #ff3e6c;
  color: white;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.view-cart {
  background-color: #ff3e6c;
  color: white;
  padding: 6px 40px;
  font-weight: 600;
}

.view-cart:active {
  background-color: #ff3e6c;
  color: white;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.quantity-button {
  border: none;
  width: 40px;
  color: #ff3e6c;
}

.quantity-button:active {
  color: #ff3e6c;
}

.quantity-text {
  font-size: 1rem;
  color: #ff3e6c;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.quantity-text:hover {
  color: #ff3e6c;
}

.quantity-input {
  width: 60px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #ff3e6c;
  transition: border-bottom-color 0.3s ease;
}

.quantity-controls {
  border-color: #ff3e6c !important;
}

.image-div {
  max-height: auto;
}

.discount-text {
  color: #ff905a;
}

.remove-item {
  border: 1px solid #ff3e6c;
  color: #ff3e6c;
  font-weight: 500;
}

.remove-item:active {
  background-color: white;
  color: #ff3e6c;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.inclusive {
  color: #03a685;
  font-weight: 600;
}

.btn-success,
.btn-success:active {
  color: #ff3e6c;
  background-color: white;
  border: none;
  font-size: 1rem;
}

.product {
  min-height: 80vh;
}
