.card {
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
  border: none;
  border-radius: 0;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.card-title {
  font-size: 1rem;
}

.rating-overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;

  .separator {
    margin: 0 4px;
    margin-bottom: 2px;
  }

  .reviews {
    font-size: 0.75rem;
  }

  i {
    font-size: 0.7rem;
  }
}

.position-relative {
  position: relative;

  .product-carousel {
    display: none;
  }

  .single-image {
    display: block;
    object-fit: fill;
  }

  .add-to-cart-overlay {
    display: none;
  }

  &:hover .product-carousel {
    display: block;
  }

  &:hover .single-image {
    display: none;
  }

  &:hover .add-to-cart-overlay.show-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .position-relative .add-to-cart-overlay.show-button {
    display: block;
  }

  .position-relative .product-carousel {
    display: none !important;
  }

  .position-relative .single-image {
    display: block !important;
  }
}

.add-to-cart-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ff3e6c;
  color: #fff;
  border: none;
  border-radius: 0;
  text-align: center;

  &:active {
    background-color: #ff3e6c;
    color: white;
  }

  i {
    font-size: 1.2rem;
  }

  &:hover {
    display: block;
  }
}

.quantity-controls-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3e6c;

  .quantity-controls {
    border-color: #ff3e6c !important;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    border: none;
    border-radius: 10px;
  }

  .quantity-button {
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    color: white;
  }

  .quantity-text {
    font-size: 1rem;
    color: white;
    flex: 1;
    text-align: center;
  }
}

.card-discount {
  color: #ff905a;
  margin-left: 10px;
}

.card-price {
  margin-right: 10px;
}

@media (max-width: 545px) {
  .item-image {
    max-height: 120px;
    object-fit: contain;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-discount {
    font-size: 0.6rem;
  }

  .rating-overlay {
    font-size: 0.6rem;

    .reviews {
      font-size: 0.6rem;
    }

    i {
      font-size: 0.6rem;
    }
  }

  .quantity-text {
    font-size: 0.5rem;
  }

  .quantity-button {
    font-size: 0.5rem;
  }

  .add-to-cart-overlay {
    padding: 8px 0;
    font-size: 0.6rem;

    i {
      font-size: 0.6rem;
    }
  }

  .quantity-controls-overlay {
    .quantity-button {
      font-size: 0.75rem;
    }

    .quantity-text {
      font-size: 0.6rem;
    }
  }

  .card-body {
    padding: 0.3rem;
  }

  .card-body .text-muted {
    font-size: 0.5rem;
  }

  .card-body .card-text {
    font-size: 0.6rem;
  }

  .card-discount {
    font-size: 0.5rem;
    margin-left: 2px;
  }

  .card-price {
    margin-right: 3px;
  }
}
