<div class="card h-100 d-flex flex-column">
  <div
    class="position-relative"
    (mouseenter)="isHovering = true"
    (mouseleave)="isHovering = false"
  >
    <!-- Product Image -->
    <a
      [routerLink]="['/product', product.barcode]"
      class="text-decoration-none"
    >
      <ng-container
        *ngIf="
          isHovering && product.images && product.images.length;
          else singleImage
        "
      >
        <!-- NG Bootstrap Carousel -->
        <ngb-carousel
          [interval]="2000"
          [pauseOnHover]="false"
          [wrap]="true"
          class="product-carousel"
        >
          <ng-template ngbSlide *ngFor="let img of product.images">
            <img
              [src]="img.src"
              class="card-img-top img-fluid"
              [alt]="product.name"
            />
          </ng-template>
        </ngb-carousel>
      </ng-container>
      <ng-template #singleImage>
        <img
          [src]="product.images[0]?.src"
          class="card-img-top img-fluid"
          [alt]="product.name"
        />
      </ng-template>
    </a>

    <!-- Add to Cart Button Overlay -->
    <button
      *ngIf="isHovering && quantity === 0"
      class="btn add-to-cart-overlay w-100"
      (click)="addToCart($event)"
    >
      <i class="bi bi-cart-plus me-2"></i> Add to Cart
    </button>

    <!-- Quantity Controls Overlay -->
    <div *ngIf="quantity > 0" class="quantity-controls-overlay">
      <div
        class="quantity-controls d-flex align-items-center justify-content-center"
      >
        <button class="btn quantity-button" (click)="decreaseQuantity()">
          -
        </button>
        <span class="quantity-text mx-3">{{ quantity }}</span>
        <button class="btn quantity-button" (click)="increaseQuantity()">
          +
        </button>
      </div>
    </div>

    <!-- Rating and Reviews Overlay -->
    <div class="rating-overlay small justify-content-center align-items-center">
      <span class="rating fw-bold">
        {{ product.rating | number : "1.1-1" }}
        <i class="bi bi-star-fill text-success"></i>
      </span>
      <span class="separator fw-bold">|</span>
      <span class="reviews fw-bold">{{ product.reviews | numberSuffix }}</span>
    </div>
  </div>

  <div class="card-body d-flex flex-column">
    <a
      [routerLink]="['/product', product.barcode]"
      class="text-decoration-none text-dark"
    >
      <h6 class="card-title">{{ product.brand }}</h6>
    </a>
    <div class="text-muted small text-truncate mb-2">
      {{ product.additionalInfo }}
    </div>

    <div class="card-text d-flex align-items-baseline">
      <strong class="me-2">
        {{ product.price | currency : "INR" : "symbol" : "1.0-0" }}
      </strong>
      <span class="text-decoration-line-through small text-muted">
        {{ product.mrp | currency : "INR" : "symbol" : "1.0-0" }}
      </span>
      <p class="card-text text-success ms-2 small">
        {{ product.discountDisplayLabel }}
      </p>
    </div>
  </div>
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [title]="'Remove Item'"
    [message]="'Are you sure you want to remove this item from the cart?'"
    (confirm)="onConfirmRemove()"
    (cancel)="onCancelRemove()"
  ></app-confirm-modal>
</div>
