.card {
  font-size: 1rem;
}

.card-title {
  font-size: 1rem;
}

.rating-overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;

  .separator {
    margin: 0 4px;
  }

  .reviews {
    font-size: 0.75rem;
  }
}

.card-body .btn {
  font-size: 0.8rem;
}

.rating-overlay i {
  font-size: 0.7rem;
}
