.rating-overlay {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
  
    .rating {
      display: flex;
      align-items: center;
  
      i {
        margin-right: 4px;
      }
    }
  
    .separator {
      margin: 0 6px;
      margin-bottom: 2px;
    }
  
    .reviews {
      font-size: 0.9rem;
    }
  }
  