body.no-scroll {
  overflow: hidden;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.offcanvas-body {
  padding: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.overlay.show {
  display: block;
}

@media (max-width: 768px) {
  .offcanvas {
    width: 80%;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .offcanvas,
  .overlay {
    display: none !important;
  }
}

.filters-container {
  position: sticky;
  top: 70px;
  height: calc(100vh - 50px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-results {
  text-align: center;
  margin-top: 50px;
}

.no-results h4 {
  font-size: 1.5rem;
  color: #6c757d;
}

.no-results p {
  font-size: 1rem;
  color: #6c757d;
}

.applied-filters .badge {
  cursor: pointer;
}

.applied-filters .badge i {
  font-size: 0.8rem;
}

.filter-badge {
  color: grey;
  border-radius: 30px;
  font-weight: 400;
  padding: 2px 8px;
  font-size: 12px;
}

.btn-close {
  font-size: 0.6rem;
  margin-bottom: 2px;
}

.btn-primary {
  background-color: #f16565;
  color: white;
  border: none;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #ff3f6c;
}

.filter-button {
  color: #6c757d;
  border-color: #6c757d;
  font-size: 12px;
}

.sorting-button {
  font-size: 12px;
}

.dropdown-item {
  font-size: 12px;
}
