<div class="container-fluid mt-5 pt-3">
  <div class="row mt-3">
    <!-- Toggle Filters Button and Sort Button for Small Screens -->
    <div class="col-12 mb-3 d-md-none">
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="toggleFilters()">
          {{ showFilters ? "" : "FILTERS" }}
        </button>

        <div ngbDropdown>
          <button
            class="btn btn-secondary"
            id="sortingDropdown"
            ngbDropdownToggle
          >
            Sort By: {{ getSortOptionDisplayText() }}
          </button>
          <div ngbDropdownMenu aria-labelledby="sortingDropdown">
            <button class="dropdown-item" (click)="onSortChange('featured')">
              Featured
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceLowToHigh')"
            >
              Price: Low to High
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceHighToLow')"
            >
              Price: High to Low
            </button>
            <button class="dropdown-item" (click)="onSortChange('rating')">
              Rating
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter Sidebar for Large Screens -->
    <div class="col-12 col-md-3 col-xxl-2 d-none d-md-block">
      <div class="filters-container">
        <app-filter-sidebar
          [availableBrands]="availableBrands"
          [availableCategories]="availableCategories"
          [availableColors]="availableColors"
          [availableGenders]="availableGenders"
          [selectedFilters]="selectedFilters"
          (filterChange)="onFilterChange($event.filterType, $event.filterValue)"
          (clearFilters)="onClearFilters()"
        ></app-filter-sidebar>
      </div>
    </div>

    <!-- Offcanvas Sidebar for Small Screens -->
    <div
      class="offcanvas offcanvas-start d-md-none"
      tabindex="-1"
      id="filtersSidebarMobile"
      [ngClass]="{ show: showFilters }"
    >
      <div class="offcanvas-body">
        <app-filter-sidebar
          [availableBrands]="availableBrands"
          [availableCategories]="availableCategories"
          [availableColors]="availableColors"
          [availableGenders]="availableGenders"
          [selectedFilters]="selectedFilters"
          (filterChange)="onFilterChange($event.filterType, $event.filterValue)"
          (clearFilters)="onClearFilters()"
          (closeSidebar)="toggleFilters()"
        ></app-filter-sidebar>
      </div>
    </div>

    <!-- Overlay for Small Screens -->
    <div
      class="overlay d-md-none"
      [ngClass]="{ show: showFilters }"
      (click)="toggleFilters()"
    ></div>

    <div class="col-12 col-md-9 col-xxl-10">
      <!-- Sorting Dropdown for Large Screens -->
      <div class="d-none d-md-flex justify-content-end mb-3">
        <div ngbDropdown>
          <button
            class="btn btn-secondary"
            id="sortingDropdown"
            ngbDropdownToggle
          >
            Sort By: {{ getSortOptionDisplayText() }}
          </button>
          <div ngbDropdownMenu aria-labelledby="sortingDropdown">
            <button class="dropdown-item" (click)="onSortChange('featured')">
              Featured
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceLowToHigh')"
            >
              Price: Low to High
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceHighToLow')"
            >
              Price: High to Low
            </button>
            <button class="dropdown-item" (click)="onSortChange('rating')">
              Rating
            </button>
          </div>
        </div>
      </div>

      <!-- Products Grid -->
      <div class="row">
        <div
          class="col-12 col-sm-6 col-lg-4 col-xxl-3 mb-4"
          *ngFor="let product of filteredProducts"
        >
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
