body.no-scroll {
  overflow: hidden;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.offcanvas.show {
  transform: translateX(0);
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.offcanvas-body {
  padding: 1rem;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.overlay.show {
  display: block;
}

@media (max-width: 575.98px) {
  .offcanvas {
    width: 80%;
    max-width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offcanvas {
    width: 70%;
    max-width: 300px;
  }
}

.btn-primary {
  border-color: gray;
  background-color: transparent;
  color: gray;
}

.filters-container {
  position: sticky;
  top: 70px;
  height: calc(100vh - 50px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
