<div class="container-fluid mt-5 pt-3">
  <div class="row mt-3">
    <!-- Toggle Filters Button and Sort Button for Small Screens -->
    <div class="col-12 mb-3 d-md-none">
      <div class="d-flex justify-content-between">
        <button class="btn filter-button border" (click)="toggleFilters()">
          <i class="bi bi-funnel-fill"></i>
          {{ showFilters ? "" : "FILTERS" }}
        </button>

        <div ngbDropdown>
          <button
            class="btn sorting-button border"
            id="sortingDropdown"
            ngbDropdownToggle
          >
            Sort By: {{ getSortOptionDisplayText() }}
          </button>
          <div ngbDropdownMenu>
            <button class="dropdown-item" (click)="onSortChange('featured')">
              Featured
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceLowToHigh')"
            >
              Price: Low to High
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceHighToLow')"
            >
              Price: High to Low
            </button>
            <button class="dropdown-item" (click)="onSortChange('rating')">
              Rating
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter Sidebar -->
    <div class="col-12 col-md-3 col-xxl-2">
      <div class="filters-container d-none d-md-block">
        <app-filter-sidebar
          [availableBrands]="availableBrands"
          [availableCategories]="availableCategories"
          [availableColors]="availableColors"
          [availableGenders]="availableGenders"
          [selectedFilters]="selectedFilters"
          (filterChange)="onFilterChange($event.filterType, $event.filterValue)"
          (clearFilters)="onClearFilters()"
        ></app-filter-sidebar>
      </div>

      <!-- Offcanvas Sidebar for Small Screens -->
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        [ngClass]="{ show: showFilters }"
      >
        <div class="offcanvas-body">
          <app-filter-sidebar
            [availableBrands]="availableBrands"
            [availableCategories]="availableCategories"
            [availableColors]="availableColors"
            [availableGenders]="availableGenders"
            [selectedFilters]="selectedFilters"
            (filterChange)="
              onFilterChange($event.filterType, $event.filterValue)
            "
            (clearFilters)="onClearFilters()"
            (closeSidebar)="toggleFilters()"
          ></app-filter-sidebar>
        </div>
      </div>

      <!-- Overlay for Small Screens -->
      <div
        class="overlay"
        [ngClass]="{ show: showFilters }"
        (click)="toggleFilters()"
      ></div>
    </div>

    <div class="col-12 col-md-9 col-xxl-10">
      <div class="d-none d-md-flex justify-content-end mb-3">
        <div ngbDropdown>
          <button
            class="btn sorting-button border"
            id="sortingDropdown"
            ngbDropdownToggle
          >
            Sort By: {{ getSortOptionDisplayText() }}
          </button>
          <div ngbDropdownMenu>
            <button class="dropdown-item" (click)="onSortChange('featured')">
              Featured
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceLowToHigh')"
            >
              Price: Low to High
            </button>
            <button
              class="dropdown-item"
              (click)="onSortChange('priceHighToLow')"
            >
              Price: High to Low
            </button>
            <button class="dropdown-item" (click)="onSortChange('rating')">
              Rating
            </button>
          </div>
        </div>
      </div>

      <!-- Applied Filters Section -->
      <div class="applied-filters mb-3" *ngIf="hasActiveFilters()">
        <div class="d-flex flex-wrap">
          <div
            class="border filter-badge me-2 position-relative mb-2"
            *ngFor="let filter of getAppliedFilters()"
          >
            {{ filter.value }}
            <button
              class="btn btn-close"
              (click)="removeFilter(filter.type, filter.value)"
            ></button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="filteredProducts.length > 0; else noResults">
        <!-- Products Grid -->
        <div class="row">
          <div
            class="col-6 col-sm-6 col-lg-4 col-xxl-3 mb-4"
            *ngFor="let product of filteredProducts"
          >
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </ng-container>

      <!-- No Results Message -->
      <ng-template #noResults>
        <div class="text-center mt-5">
          <h4>No products match your selected filters.</h4>
          <p class="mt-3">Try adjusting your filters to see more products.</p>
          <button class="btn btn-primary mt-3" (click)="onClearFilters()">
            Reset Filters
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
