<div class="container m-5 p-3 flex-grow-1 d-flex flex-column">
  <h2>Your Cart</h2>
  <div
    *ngIf="cartItems.length > 0; else emptyCart"
    class="flex-grow-1 d-flex flex-column"
  >
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-center">Quantity</th>
            <th class="text-end">Price</th>
            <th class="text-end">Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>
              <a [routerLink]="['/product', item.product.barcode]">
                <img
                  [src]="item.product.searchImage"
                  [alt]="item.product.name"
                  width="50"
                  class="me-2"
                />
              </a>
              <a
                [routerLink]="['/product', item.product.barcode]"
                class="product-name-link"
              >
                {{ item.product.name }}
              </a>
            </td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="decreaseQuantity(item)"
              >
                -
              </button>
              <span class="mx-2">{{ item.quantity }}</span>
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="increaseQuantity(item)"
              >
                +
              </button>
            </td>
            <td class="text-end">{{ item.product.price | currency }}</td>
            <td class="text-end">
              {{ item.product.price * item.quantity | currency }}
            </td>
            <td class="text-end">
              <button class="btn btn-danger btn-sm" (click)="removeItem(item)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <h4>Total: {{ totalAmount | currency }}</h4>
      <div>
        <!-- Clear Cart Button -->
        <button class="btn btn-danger me-2" (click)="confirmClearCart()">
          Clear Cart
        </button>
        <!-- Proceed to Checkout Button -->
        <button class="btn btn-success" (click)="proceedToCheckout()">
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>

  <!-- Empty Cart Template -->
  <ng-template #emptyCart>
    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
      <p>Your cart is empty.</p>
    </div>
  </ng-template>
</div>
