<div class="container mt-5 pt-3 mb-3">
  <div class="row mt-3 rounded justify-content-center mx-2">
    <!-- Cart Items -->
    <div
      class="col-12 col-lg-8 px-0 mb-4 mb-lg-0"
      *ngIf="cartItems.length > 0; else emptyCart"
    >
      <div
        class="d-flex justify-content-between align-items-center flex-wrap mb-3"
      >
        <div class="fs-3 mb-2 mb-md-0">Your Cart</div>
        <button class="btn btn-outline-secondary" (click)="confirmClearCart()">
          REMOVE
        </button>
      </div>

      <!-- Cart Items Loop -->
      <div
        *ngFor="let item of cartItems"
        class="card mb-4 cart-item-card position-relative"
      >
        <!-- Cross Button for Desktop -->
        <button
          class="btn btn-close ms-3 d-none d-md-block position-absolute top-0 end-0 p-3"
          (click)="confirmRemoveItem(item)"
          title="Remove item"
          aria-label="Remove item"
        ></button>

        <div
          class="card-body d-flex flex-column flex-md-row align-items-center align-items-md-start"
        >
          <div class="me-md-4 mb-3 mb-md-0 text-center image-div">
            <a [routerLink]="['/product', item.product.barcode]">
              <img
                [src]="item.product.searchImage"
                [alt]="item.product.name"
                class="img-fluid rounded item-image"
              />
            </a>
          </div>

          <!-- Product Details -->
          <div class="flex-grow-1 text-center text-md-start">
            <h5>{{ item.product.brand }}</h5>
            <div class="product-name">{{ item.product.name }}</div>
            <p class="text-muted mb-1">Color - {{ item.product.color }}</p>

            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-md-start mb-2"
            >
              <!-- Subtotal Price -->
              <div class="me-2 fs-5">
                <strong>
                  {{
                    item.product.price * item.quantity
                      | currency : "INR" : "symbol" : "1.0-0"
                  }}
                </strong>
              </div>

              <div>
                <span
                  class="text-decoration-line-through text-muted me-2 small"
                >
                  {{
                    item.product.mrp * item.quantity
                      | currency : "INR" : "symbol" : "1.0-0"
                  }}
                </span>

                <span class="text-success">
                  You save
                  {{
                    (item.product.mrp - item.product.price) * item.quantity
                      | currency : "INR" : "symbol" : "1.0-0"
                  }}
                </span>
              </div>
            </div>

            <!-- Quantity Controls and Remove Button -->
            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-md-start"
            >
              <div
                class="quantity-controls border d-flex align-items-center me-0 me-3 rounded"
              >
                <button
                  class="btn quantity-button btn-md"
                  (click)="decreaseQuantity(item)"
                >
                  -
                </button>
                <span class="mx-3 quantity-text">{{ item.quantity }}</span>
                <button
                  class="btn quantity-button btn-md"
                  (click)="increaseQuantity(item)"
                >
                  +
                </button>
              </div>
              <!-- Remove Button for Mobile -->
              <button
                class="btn btn-outline-danger d-block d-md-none"
                (click)="confirmRemoveItem(item)"
              >
                <i class="bi bi-trash"></i> Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="col-12 col-lg-4" *ngIf="cartItems.length > 0">
      <div class="order-summary sticky-top p-3 border rounded">
        <h4>Order Summary</h4>
        <hr />
        <div class="d-flex justify-content-between">
          <p>Total MRP:</p>
          <p>{{ totalMRP | currency : "INR" : "symbol" : "1.0-0" }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Discount on MRP:</p>
          <p class="text-success">
            - {{ discountAmount | currency : "INR" : "symbol" : "1.0-0" }}
          </p>
        </div>

        <div class="d-flex justify-content-between">
          <p>Shipping:</p>
          <p>
            <span>{{
              shippingCost === 0
                ? "Free"
                : (shippingCost | currency : "INR" : "symbol" : "1.0-0")
            }}</span>
          </p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <h5>Total Amount:</h5>
          <h5>{{ finalAmount | currency : "INR" : "symbol" : "1.0-0" }}</h5>
        </div>
        <button
          class="btn btn-success w-100 mt-3"
          (click)="proceedToCheckout()"
        >
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>

  <!-- Confirm Clear Cart Modal -->
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [title]="'Clear Cart'"
    [message]="'Are you sure you want to clear the cart?'"
    (confirm)="onConfirmClearCart()"
    (cancel)="onCancelClearCart()"
  ></app-confirm-modal>

  <!-- Confirm Remove Item Modal -->
  <app-confirm-modal
    *ngIf="showItemRemoveModal"
    [title]="'Remove Item'"
    [message]="'Are you sure you want to remove this item from the cart?'"
    (confirm)="onConfirmRemoveItem()"
    (cancel)="onCancelRemoveItem()"
  ></app-confirm-modal>

  <!-- Empty Cart Template -->
  <ng-template #emptyCart>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 70vh"
    >
      <i class="bi bi-handbag-fill empty-cart" style="font-size: 5rem"></i>
      <h3>Hey, it feels so light!</h3>
      <p class="text-muted">
        There is nothing in your bag. Let's add some items.
      </p>
      <a class="btn btn-primary mt-3" [routerLink]="['/home']"
        >Start shopping</a
      >
    </div>
  </ng-template>
</div>
