.quantity-controls,
.quantity-controls:active {
  border-color: #ff3e6c !important;
}

.quantity-button,
.quantity-button:active {
  color: #ff3e6c;
  border: none;
}

.quantity-text,
.quantity-text:active {
  color: #ff3e6c;
}

.empty-cart-image {
  font-size: 10rem;
  color: #ff3e6c;
}

.empty-cart {
  min-height: 70vh;
}

.btn-primary,
.btn-primary:active {
  background-color: #ff3e6c;
  border: none;
  color: white;
}

.start-shopping:hover {
  background-color: green;
  color: white;
}

.order-summary {
  top: 80px;
}

.image-div {
  width: 150px;
}

.item-image {
  max-height: auto;
}

@media (max-width: 767px) {
  .image-div {
    width: auto;
  }
}

.cart-item-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.cart-item-card .card-body {
  padding: 1rem;
}

@media (max-width: 767px) {
  .cart-item-card .remove-cross {
    display: none;
  }
}

@media (max-width: 767px) {
  .cart-item-card .btn-outline-danger {
    display: block;
  }
}

.btn-update,
.btn-update:active {
  color: #ff3e6c;
  background-color: white;
  border: none;
  font-size: 1rem;
}

.quantity-input {
  width: 60px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #ff3e6c;
  transition: border-bottom-color 0.3s ease;
}
