.quantity-controls {
  border-color: #28a745 !important;
}

.quantity-button {
  color: #28a745;
}

.quantity-text {
  color: #28a745;
}

.quantity-button {
  border: none;
}

.empty-cart {
  font-size: 200px;
  color: #28a745;
}

.start-shopping {
  background-color: #28a745;
  color: white;
}

.start-shopping:hover {
  background-color: green;
  color: white;
}

.btn-primary {
  background-color: #28a745;
}

.btn-primary:hover {
  background-color: green;
}

.order-summary {
  top: 80px;
}

.image-div {
  width: 150px;
}

.item-image {
  max-height: auto;
}

@media (max-width: 768px) {
  .image-div {
    width: auto;
  }
}
