// Import Bootstrap's functions, variables, and mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Override Bootstrap variables here
$primary: #ff5733;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
