// Import Bootstrap's functions, variables, and mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Override Bootstrap variables here
$primary: #ff5733;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}

/* Grid container */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
