@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
}

/* Grid container */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body.modal-open {
  overflow: hidden;
}

.custom-toast-container {
  position: fixed;
  top: 70px;
  right: 12px;
  z-index: 9999;
}
